.appointment-table {
  margin: 20px;
  overflow-x: auto; /* Add horizontal scrolling for small screens */
}

.appointment-table table {
  width: 100%;
  border-collapse: collapse;
}

.appointment-table th,
.appointment-table td {
  padding: 8px;
  border: 1px solid #ddd;
}

.appointment-table th {
  background-color: #f2f2f2;
}

.status-btn {
  cursor: pointer;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  color: #fff;
  margin: 8px;
}

.status-btn.approve {
  background-color: #5cb85c;
}
.status-btn.approve:hover{
  background-color: #0056b3;
}

.status-btn.decline {
  background-color: #d9534f;
}
.status-btn.decline:hover{
  background-color: #0056b3;
}

.action-btn {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}
/* AppointmentDoc.css */

.doc-add-prescription-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

.doc-add-prescription-button:hover {
  background-color: #0056b3;
}


/* Media Query for Mobile Devices */
@media (max-width: 768px) {
  .appointment-table {
    margin: 10px;
  }

  .status-btn,
  .action-btn {
    font-size: 12px;
    padding: 3px 6px;
  }

  .appointment-table th,
  .appointment-table td {
    padding: 6px;
  }
}
