.patient-one {
  width: 90%;
  margin: auto;
  overflow: auto; /* Enable overflow for both X and Y axes */
}

.patient-tb {
  width: 90%;
  margin: auto;
  border-collapse: collapse;
  margin-top: 20px;
}

.patient-heading {
  text-align: center;
}


.patient-row {
  border-bottom: 1px solid #ddd; /* Add border-bottom to each row */
}

.patient-head,
.patient-data {
  border-right: 1px solid #ddd; /* Add border-right to each cell */
  padding: 10px;
}

.patient-head:last-child,
.patient-data:last-child {
  border-right: none; /* Remove border-right for the last cell in each row */
}

.patient-head {
  padding: 10px;
  text-align: center;
  font-weight: bold;
  background-color: gray;
}

.patient-data {
  padding: 10px;
  text-align: center;
}


.patient-action-btn {
  background-color: red;
  color: white;
  height: 30px;
  width: 80px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.patient-action-btn:hover {
  background-color: darkred;
}
